<article class='dashboardPage'>

  <div class='postTitle'>Welcome!</div>

  <section>
    <h2>Create New Post</h2>

    <form class='new-post-form'>
      <div>
        <label for='recipe-name'>Your recipe title:</label>
        <input
          name='newrecipe-name'
          class='recipe-form'
          type='text'
          id='newrecipe-name'
        />
      </div>

      <div>
        <label for='recipe-name'>Instructions:</label>
        <textarea
          name='newrecipe-body'
          class='textarea-body'
          placeholder='Recipe instructions'
          id='newrecipe-body'
        ></textarea>
      </div>

      <div>
        <label for='file-upload'>Upload Photo:</label>
        <input type='file' name='filename' id='filename' />
        <button type='submit' class='btn'>Create post</button>
      </div>

    </form>

  </section>

  {{#if posts.length}}
    <section>
      <h2>Your Posts</h2>
      <ul class='post-list'>
        {{#each posts}}
          <li>
            <article class='card post'>
              <div class='card-title postTitle'>
                <a href='/post/{{id}}'>{{recipe_name}}</a>
              </div>

              {{#if filename}}
                <div>
                  <img src='images/{{filename}}' class='card-img' />
                </div>
              {{/if}}

              <div class='card-text postCreator'>
                By
                {{user.username}}
                on
                {{format_date created_at}}
              </div>

              <a href='/dashboard/edit/{{id}}' class='edit-link'>Edit post</a>
              {{!-- <div class='postCategory'>
            Category:
          {{category.category_name}} --}}
            </article>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/if}}

</article>

<script src='/js/add-post.js'></script>