<ul class='post-list'>
  {{#each posts}}
    <li>
      <article class='card post'>
        <div class='card-title postTitle'>
          <a href='/post/{{id}}'>{{recipe_name}}</a>
        </div>

        <div>
          <img src='images/{{filename}}' class='card-img'/>
        </div>

        <div class='card-text postCreator'>
          by
          {{user.username}}
          on
          {{format_date created_at}}
        </div>

        {{!-- <div class='postCategory'>
          Category:
          {{category.category_name}}
        </div> --}}

      </article>
    </li>
  {{/each}}
</ul>