<ul class='post-list'>
  {{#each posts}}
    <li>
      <article class='card post'>
        <div class='postTitle'>
          <a href='/post/{{id}}'>{{recipe_name}}</a>
        </div>

        {{#if filename}}
          <div>
            <img
              src='https://spicy-bites.s3.us-west-1.amazonaws.com/{{filename}}'
              class='card-img'
            />
          </div>
        {{/if}}

        <div class='card-text postCreator'>
          By
          {{user.username}}
          on
          {{format_date created_at}}
        </div>

      </article>
    </li>
  {{/each}}
</ul>