<nav>
  <a href='/homepage'>Home</a>
</nav>

<article class='post'>

  <div class='title'>
    <a href='/post/{{post.id}}'>{{post.recipe_name}}</a>
  </div>

  <div>
    <img src='images/{{post.filename}}' />
  </div>

  <div class='meta'>
    {{post.recipe_body}}
  </div>

  <div class='meta'>
    Posted by
    {{post.user.username}}
    on
    {{post.created_at}}
  </div>

  {{#if loggedIn}}
    <form class='comment-form'>
      <div>
        <textarea name='comment-body'></textarea>
      </div>

      <div>
        <button type='submit'>add comment</button>
      </div>
    </form>
  {{/if}}

</article>

{{#if loggedIn}}
  <script src='/javascript/comment.js'></script>
{{/if}}