<article class='singlePost'>

  <div class='singlePostTitle'>
    <a href='/post/{{post.id}}'>{{post.recipe_name}}</a>
  </div>

  <div>
    <img src='/images/{{post.filename}}' />
  </div>

  <div class='singlePostCreator'>
    Posted by
    {{post.user.username}}
    on
    {{post.created_at}}
  </div>

  <div class='postBody'>
    {{post.recipe_body}}
  </div>

  {{#if loggedIn}}
    <form class='comment-form'>
      <div>
        <textarea class='comment-body' name='comment-body'></textarea>
      </div>

      <div>
        <button class='commentBtn' type='submit'>Add Comment</button>
      </div>
    </form>
  {{/if}}

{{> comments post.comments}}

</article>

{{#if loggedIn}}
  <script src='/js/comment.js'></script>
{{/if}}